<% t = locals[:alumno] %>
<% @act = ActividadAlumno.where(['alumno_id = ?',t.id]).order("actividad_id") %>
<% if (@act != nil) %>
	<% @act.each do |a| %>
		<% @actividad = Actividad.find(a.actividad_id) rescue nil %>
		<% if @actividad != nil && (@actividad.fechainfo == nil || @actividad.fechainfo >= DateTime.now ) %>
		    <br>
			
			<%= form_for(@x, as: :actividad, url: principal_download_pdf_path(:actividad), :html => {:id=>'form_download_' + a.actividad_id.to_s}) do |f| %>
	           <%= f.hidden_field :id, value: @actividad.id %>
	           <%= f.hidden_field :alumno_id, value: t.id %>
			    <div id="textoRegistrarse">

					<b><%= link_to "Descargar información: " + @actividad.nombre, "", :onclick => "$('#form_download_" + a.actividad_id.to_s + "').submit()" %></b>
			    </div>
			<% end %>

		    <% @cuenta = CuentaAlumno.where(['alumno_id = ?',t.id]).first rescue nil %>
		    <% @titular = TitularCuenta.where(['usuario_id = ? AND cuenta_id = ?',current_usuario.id,@cuenta.cuenta_id]).first rescue nil %>
		    <% if @titular != nil && (@actividad.fecha == nil || @actividad.fecha >= DateTime.now ) %>

		    	<% arreglo = ActividadOpcion.opciones(@actividad.id) %>
		    	<% p arreglo %>

				<br>
			<% end %>
		<% end %>
	<% end %>
<% end %>