Estimados,<br>
<br>
Aviso de nueva reinscripcion,<br>
<br>
Cédula: <%= p "<a href=#{'"'}http://varela-adm.herokuapp.com/admin/inscripciones/#{@inscripcionAlumno.id}/edit?locale=es#{'"'}>#{@inscripcionAlumno.cedula}</a>" %><br>
Nombre: <%= p "#{@inscripcionAlumno.nombre} #{@inscripcionAlumno.apellido}" %><br>
<br>
Saludos cordiales,<br>
<br>
Equipo de Soporte